<h1 id="welcome-msg">Welcome to Ember</h1>

<h2 id="congratulations">Congratulations, you made it!</h2>

<p>You’ve officially spun up your very first Ember app :-)</p>

<p>You’ve got one more decision to make: what do you want to do next? We’d suggest one of the following to help you get going:</p>

<ul>
  <li><a href="https://guides.emberjs.com/v2.11.0/getting-started/quick-start/">Quick Start</a> - a quick introduction to how Ember works. Learn about defining your first route, writing a UI component and deploying your application.</li>

  <li><a href="https://guides.emberjs.com/v2.11.0/tutorial/ember-cli/">Ember Guides</a> - this is our more thorough, hands-on intro to Ember. Your crash course in Ember philosophy, background and some in-depth discussion of how things work (and why they work the way they do).</li>
</ul>

<p>If you run into problems, you can check <a href="http://stackoverflow.com/questions/tagged/ember.js">Stack Overflow</a> or <a href="http://discuss.emberjs.com/">our forums</a> for ideas and answers—someone’s probably been through the same thing and already posted an answer. If not, you can post your own question. People love to help new Ember developers get started, and our community is incredibly supportive</p>

{{outlet}}
